.spinner {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -10px;
  background-color: #888;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3) inset;
  border-radius: 50%;
}
.spinner:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 3px;
  background-color: #fff;
  height: 4px;
  width: 4px;
  animation: spin 1s linear infinite;
  border-radius: 50%;
  transform-origin: 5px 7px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}